@model IEnumerable<ArticleInfoModel>

<ul class="list">
    @foreach (ArticleInfoModel atcl in Model)
    {
        <li class="listitem">
            <a href="@Url.Action("Detail", "Article", new { id = atcl.ID })" class="wrap">
                <img src="@atcl.Cover" alt="@atcl.Title" class="cover" data-ratio="0.2142" />
            </a>
            <h4>
                @Html.ActionLink(atcl.Title, "Detail", "Article", new { id = atcl.ID }, new { @class = "title" })
            </h4>
            <div class="info">
                <div>
                    <span>@atcl.Author</span>
                    &nbsp;·&nbsp;
                    <span>@atcl.DateCreate</span>
                </div>
                <div>
                    <span>阅读&nbsp;&nbsp;@atcl.ViewCount&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
            </div>
        </li>
    }
</ul>
<script>
    var url = '@Url.Action("LoadArticlesByPage", "Article")';

    $(document).ready(function () {
        $('.list').upperscrollpaging(url, {
            itemSelector: '.listitem'
        });
    });
</script>