@model RTCareerAsk.Models.ArticleModel

@section frontline{
    <div style="background-image:url(@Model.Cover)" class="article-header">
        <div class="wrap">
            <div class="container">
                <div class="box centered">
                    <div class="title">
                        <h2>@Model.Title</h2>
                    </div>
                    <div class="info">
                        <span>@Model.Author · @Model.DateCreate</span>
                        @if (Model.HasReference)
                        {
                            @Html.ActionLink("查看原文", "AnswerDetail", "Question", new { id = Model.Reference.ID }, new { @class = "btn btn-info outline btn-xs" })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="article-content centered">
    @if (Model.HasReference)
    {
        <blockquote class="editor-box">
            <div>
                <p>@Model.Content</p>
            </div>
            <small>编辑：@Html.ActionLink(Model.Editor.Name, "Index", "User", new { id = Model.Editor.UserID }, new { title = "查看编辑个人主页" })</small>
        </blockquote>
    }
    @Html.Raw(HttpUtility.HtmlDecode(Model.HasReference ? Model.Reference.Content : Model.Content))
</div>
@*<div id="hm_t_115241"></div>*@
<div class="article-comments centered" data-target="@Model.ID">
    <div>
        @Html.Partial("_ArticleCommentForm", new RTCareerAsk.Models.ArticleCommentPostModel() { ArticleID = Model.ID })
    </div>
    <div>
        @Html.Partial("_ArticleCommentList", Model.Comments)
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/article")
}