@model IEnumerable<RTCareerAsk.Models.UserTagModel>

@{
    bool IsAuthorized = ViewBag.IsAuthorized != null ? Convert.ToBoolean(ViewBag.IsAuthorized) : false;
}

<div class="content-info">
    <ul class="list-group box user-list" data-target="@ViewBag.TargetId" data-type="@ViewBag.ContentType">
        @foreach (RTCareerAsk.Models.UserTagModel tag in Model)
        {
            <li class="list-group-item">
                <div>
                    @Html.UpperNameTag(tag)
                    <div style="margin-left: 37px; margin-top: 8px; font-size: 12px">
                        <p>@tag.AnswerCount 条回答 · @tag.FollowerCount 人关注</p>
                    </div>
                </div>
                <div>
                    @if (tag.HasFollowed != null && tag.HasFollowed == true)
                    {
                        <button class="btn btn-default btn-sm unfollow @Html.AssignClassWithCondition(!IsAuthorized, "redirect-login")" data-target="@tag.UserID"><span class="glyphicon glyphicon-eye-close"></span>&nbsp;取消关注</button>
                    }
                    else if (tag.HasFollowed != null && tag.HasFollowed == false)
                    {
                        <button class="btn btn-success btn-sm follow @Html.AssignClassWithCondition(!IsAuthorized, "redirect-login")" data-target="@tag.UserID"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;关注用户</button>
                    }
                    else
                    {
                        <button class="btn btn-default btn-sm disabled">自己</button>
                    }
                </div>
            </li>
        }
    </ul>
</div>

<script type="text/javascript">
    var url = '@Url.Action("FollowersOrFollowees", "User")';

    $(document).ready(function () {
        $('ul.list-group').upperscrollpaging(url, {
            itemSelector: 'li.list-group-item',
            contentType: $('ul.list-group').data('type'),
            targetId: $('ul.list-group').data('target')
        });
    });
</script>
