@model IEnumerable<UpperInfoBaseModel>

@{
    bool isQuestionList = ViewBag.QuestionList != null && Convert.ToBoolean(ViewBag.QuestionList);

    TabModel tabSorting = new TabModel();
    tabSorting.TabItems.Add("最热", new ActionLinkParams() { ActionName = "LoadContentInfo", ControllerName = "Question", RouteValues = new { id = 1 } });
    tabSorting.TabItems.Add("最新", new ActionLinkParams() { ActionName = "LoadContentInfo", ControllerName = "Question", RouteValues = new { id = 2 } });
    tabSorting.ActiveItem = "最新";
    tabSorting.AjaxOptns = new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divQuestionList", OnBegin = "OnUpdateSortingBegin", OnFailure = "OnUpdateSortingFailure", OnComplete = "OnUpdateListComplete" };
    tabSorting.HtmlAttrs.Add("class", "tab-sorting");

    TabModel tabContent = new TabModel();
    tabContent.TabItems.Add("答案", new ActionLinkParams() { ActionName = "LoadContentInfo", ControllerName = "Question", RouteValues = new { id = 2 } });
    tabContent.TabItems.Add("问题", new ActionLinkParams() { ActionName = "LoadContentInfo", ControllerName = "Question", RouteValues = new { id = 0 } });
    tabContent.ActiveItem = isQuestionList ? "问题" : "答案";
    tabContent.AjaxOptns = new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divQuestionList", OnBegin = "OnUpdateContentBegin", OnFailure = "OnUpdateContentFailure", OnComplete = "OnUpdateListComplete" };
    tabContent.HtmlAttrs.Add("class", "tab-content");
}


<div style="max-width: 720px; padding: 0 10px" class="centered clear-fix">
    <div class="content-info-tab">
        @Ajax.UpperTab(tabContent, null)
        @Ajax.UpperTab(tabSorting, null)
    </div>
    <div id="divQuestionList">
        @if (isQuestionList)
        {
            @Html.Partial("_QuestionList", Model.Select(x => x as QuestionInfoModel))
        }
        else
        {
            @Html.Partial("_AnswerList", Model.Select(x => x as AnswerInfoModel))
        }
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/content-list")
}

@section featured{
    <div class="billboard centered clear-fix">
        <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @Html.Raw(HttpUtility.HtmlDecode(ViewBag.Billboard))
        </div>
    </div>
}