@model RTCareerAsk.Models.AnswerModel

@{
    bool IsAuthorized = ViewBag.IsAuthorized != null ? Convert.ToBoolean(ViewBag.IsAuthorized) : false;
}

<div id="@string.Format("divAns{0}", Model.ID)">
    <div class="heading">
        @Html.UpperPortrait(Model.Creator.Portrait, PortraitSize.Small, new { style = "flex-grow:0" })
        <p>
            @Html.ActionLink(Model.Creator.Name, "Index", "User", new { id = Model.Creator.UserID }, new { })
            ，在问题
            @Html.ActionLink(Model.ForQuestion.Title, "Index", "Question", new { id = Model.ForQuestion.ID }, new { })
            下回答道：
        </p>
    </div>
    <div id="@string.Format("divAnsTxt{0}", Model.ID)" class="content">
        @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
    </div>
    <div class="info-group">
        <p class="extra">
            于
        @Model.UpdateBefore
            最后编辑
        </p>
        <div class="action">
            @if (IsAuthorized)
            {
                <ul class="breadcrumb">
                    @if (Model.IsEditAllowed)
                    {
                        <li><a href="#" role="button" id="@string.Format("btnAnsEdt{0}", Model.ID)">编辑</a></li>
                        <li><a href="#" role="button" id="@string.Format("btnAnsDel{0}", Model.ID)">删除</a></li>
                    }
                    <li><a href="#" id="@string.Format("btnWrtCmt{0}", Model.ID)">评一下</a></li>
                    <li class="active"><a href="#">收藏</a></li>
                    <li><a href="#">举报</a></li>
                </ul>
            }
        </div>
    </div>
    @if (IsAuthorized)
    {
        <div id="@string.Format("divCmtForm{0}", Model.ID)" class="collapse">
            <div class="clearfix">
                @Html.Partial("_CommentForm", new RTCareerAsk.Models.CommentPostModel() { AnswerID = Model.ID, NotifyUserID = Model.Creator.UserID })
            </div>
        </div>
    }
</div>
