@model IEnumerable<RTCareerAsk.Models.AnswerInfoModel>

<div class="content-info">
    <ul class="list-group box">
        @foreach (RTCareerAsk.Models.AnswerInfoModel a in Model)
        {
            <li class="list-group-item">
                <div class="section-wrap">
                    <div class="section number">
                        <span class="marked-number">@a.VoteDiff</span>
                        <span>推荐</span>
                    </div>
                    <div class="section number reply-count">
                        <span class="marked-number">@a.CommentCount</span>
                        <span>评论</span>
                    </div>
                    <div class="section text">
                        @Html.ActionLink(a.ForQuestion.Title, "AnswerDetail", "Question", new { id = a.ID }, new { style = "font-size:16px" })
                        <div>@Html.Raw(HttpUtility.HtmlDecode(a.Content))</div>
                        <p>@Html.UpperAuthor(a.Creator.Name, a.CreateBefore)</p>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>