@model List<RTCareerAsk.Models.AnswerModel>

@{
    bool IsAuthorized = ViewBag.IsAuthorized != null ? Convert.ToBoolean(ViewBag.IsAuthorized) : false;
    bool IsAdmin = ViewBag.IsAdmin != null ? Convert.ToBoolean(ViewBag.IsAdmin) : false;
}

<div class="answers-title">
    <div class="box">
        @if (@Model.Count > 0)
        {
            <h3>为您找到 @Model.Count 条答案</h3>
        }
        else
        {
            <h3>很抱歉，还没有人回答这个问题</h3>
        }
    </div>
</div>
@foreach (RTCareerAsk.Models.AnswerModel a in Model)
{
    <div class="answer">
        <div class="bs-component clearfix">
            <blockquote>
                <p>@a.Content</p>
                <small>由<a href="@Url.Action("Index", "User", new { id = a.Creator.UserID })">@a.Creator.Name</a> 于 <cite title="Source Title">@a.DateCreate.Year 年 @a.DateCreate.Month 月 @a.DateCreate.Day 日</cite> 回答</small>
                @if (IsAuthorized)
                {
                    <div class="float-right">
                        <ul class="breadcrumb" style="font-size: 5px">
                            @if (a.IsEditAllowed)
                            {
                                <li><a href="#" role="button">编辑</a></li>
                                <li><a href="#" role="button" id="@string.Format("btnAnsDel{0}", a.ID)">删除</a></li>
                            }
                            <li><a href="@string.Format("#divCmtForm{0}", a.ID)" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">评一下</a></li>
                            <li><a href="@string.Format("#divCmtList{0}", a.ID)" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample" class="CmtCount">
                                <span class="badge">@a.Comments.Count</span>条评论
                            </a></li>
                        </ul>
                    </div>
                }
            </blockquote>
        </div>
        @if (IsAuthorized)
        {
            @Html.Partial("_CommentForm", new RTCareerAsk.Models.CommentPostModel() { AnswerID = a.ID, NotifyUserID = a.Creator.UserID })
        }
        <div id="@string.Format("divCmtList{0}", a.ID)" class="ans-outter-box collapse">
            @if (a.Comments != null && a.Comments.Count > 0)
            {
                @Html.Partial("_CommentDetail", a.Comments)
            }
        </div>
    </div>
}