@model List<RTCareerAsk.Models.AnswerModel>

@{
    bool IsAuthorized = ViewBag.IsAuthorized != null ? Convert.ToBoolean(ViewBag.IsAuthorized) : false;
    bool IsAdmin = ViewBag.IsAdmin != null ? Convert.ToBoolean(ViewBag.IsAdmin) : false;
}

<div id="divAnswerList" class="answer-detail" style="margin: 0 auto">
    <div>
        <div class="header">
            @if (@Model.Count > 0)
            {
                <h3>为您找到<span class="marked-number">@(Model.Count)</span>条答案</h3>
            }
            else
            {
                <h3>很抱歉，还没有人回答这个问题</h3>
                <div>
                    <img src="/Images/blank.jpg" alt="" style="width: 66%; height: auto; margin: 0 auto" />
                </div>
            }
        </div>
    </div>
    @foreach (RTCareerAsk.Models.AnswerModel a in Model)
    {
        <div id="@string.Format("divAnsBody{0}", a.ID)" class="body" data-targetquestion="@a.ForQuestion.ID">
            <div id="@string.Format("divAns{0}", a.ID)" class="wrap clearfix" style="position:relative">
                <div style="position: absolute; right: 0; top: 0; width: 30px; background-color: yellow; text-align: center; font-size: 18px; z-index: 1000">
                </div>
                <div data-id="@a.ID" data-title="@a.ForQuestion.Title" data-author="@a.Creator.UserID" data-type="1" style="min-width:55px">
                    <div class="arrow @Html.IsActive(true, a) @Html.AssignClassWithCondition(!IsAuthorized, "redirect-login")" data-toggle="tooltip" data-placement="right" title="推荐">
                        <a href="#" class="up">
                            <div></div>
                            <div class="votes">@a.VotePositive</div>
                        </a>
                    </div>
                    <div class="arrow @Html.IsActive(false, a) @Html.AssignClassWithCondition(!IsAuthorized, "redirect-login")" data-toggle="tooltip" data-placement="right" title="不推荐">
                        <a href="#" class="down">
                            <div class="votes">@a.VoteNegative</div>
                            <div></div>
                        </a>
                    </div>
                </div>
                @Html.Hidden(string.Format("hdnAnsBy{0}", a.ID), a.Creator.UserID)
                <div class="clearfix" style="flex-grow: 1; position: relative">
                    @Html.UpperNameTag(a.Creator)
                    <div id="@string.Format("divAnsTxt{0}", a.ID)" class="content @Html.AssignClassWithCondition(a.IsEditAllowed, "self")">
                        @Html.Raw(HttpUtility.HtmlDecode(a.Content))
                    </div>
                    <div class="extra">
                        @a.CreateBefore
                        <span>@Html.ActionLink("查看详情", "AnswerDetail", "Question", new { id = a.ID }, new { })</span>
                        @if (IsAdmin)
                        {
                            <span>@Html.ActionLink("引用", "Compose", "Article", new { id = a.ID }, new { })</span>
                        }
                    </div>
                    <div class="float-right">
                        <ul class="breadcrumb">
                            @if (a.IsEditAllowed)
                            {
                                <li><a href="#" role="button" id="@string.Format("btnAnsEdt{0}", a.ID)">编辑</a></li>
                                <li><a href="#" role="button" id="btnDel" data-id="@a.ID" data-type="1" data-toggle="modal" data-target="#divModalSm">删除</a></li>
                            }
                            <li><a href="#" id="@string.Format("btnWrtCmt{0}", a.ID)" class="@Html.AssignClassWithCondition(!IsAuthorized, "redirect-login")">评一下</a></li>
                            <li><a href="@string.Format("#divCmtList{0}", a.ID)" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample" class="CmtCount">评论<span style="font-size: 13px">(@a.Comments.Count)</span>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            @if (IsAuthorized)
            {
                <div id="@string.Format("divCmtForm{0}", a.ID)" class="collapse">
                    <div class="clearfix">
                        @Html.Partial("_CommentForm", new RTCareerAsk.Models.CommentPostModel() { AnswerID = a.ID, QuestionTitle = a.ForQuestion.Title, AuthorID = a.Creator.UserID })
                    </div>
                </div>
            }
            <div id="@string.Format("divCmtList{0}", a.ID)" class="collapse comment-list">
                @if (a.Comments != null && a.Comments.Count > 0)
                {
                    @Html.Partial("_CommentList", a.Comments)
                }
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    var url = "@Url.Action("LoadAnswersDetails", "Question")";
    function AfterAnswerDetailsLoad() {
        Resize();
        $('div[id^="divAnsTxt"]').uppershorten();
        $('.marked-number').html($('div[id^="divAnsBody"]').length);
    }

    $(document).ready(function () {
        AfterAnswerDetailsLoad();

        $('#divAnswerList').upperscrollpaging(url, {
            itemSelector: 'div[id^="divAnsBody"]',
            contentType: 1,
            targetId: $('.body:first').data('targetquestion'),
            postAction: AfterAnswerDetailsLoad
        });
    });
</script>
