@model RTCareerAsk.Models.AnswerModel

@{
    bool IsAuthorized = ViewBag.IsAuthorized != null ? Convert.ToBoolean(ViewBag.IsAuthorized) : false;
}

<div class="feed-comment">
    <div class="input">
        <div class="placeholder">
            <span>留下你的评论</span>
        </div>
        <div class="text">
            <div contenteditable="true" class="textbox"></div>
            <div>
                <a href="#" class="btn btn-success btn-xs @Html.AssignClassWithCondition(!IsAuthorized, "redirect-login")"
                    data-answerid="@Model.ID"
                    data-authorid="@Model.Creator.UserID"
                    data-questiontitle="@Model.ForQuestion.Title"
                    data-notifyuserid="">提交评论
                </a>
            </div>
        </div>
        <div id="divInfoFeedComment" class="alert-tag" style="display: none">
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close">&times;</button>
                <p></p>
            </div>
        </div>
    </div>

    <div class="list">
        @if (Model.Comments.Count > 0)
        {
            <ul class="list-group" style="margin-top: 50px">
                @foreach (RTCareerAsk.Models.CommentModel cmt in Model.Comments)
                {
                    @Html.Partial("_FeedCommentDetail", cmt)
                }
            </ul>
        }
        else
        {
            <div>
                <img src="/Images/blank.jpg" alt="" style="width: 66%; height: auto; margin: 0 auto" />
            </div>
        }
    </div>
</div>
