<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/upper-logo.ico" rel="shortcut icon" type="image/x-icon" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="尚职（UpperCareer）职场交流社区是拉夫德尔网络科技旗下主要产品。一个真实的职场知识、经验、见解分享社区，以问答功能为核心，，布局职场相关经验知识，生涯规划，技能评测，行业资讯，求职技巧，职场心态，公司评价，用心服务每一个需要补足职场经验的应届生和职场新人。" />
    <script type="text/javascript">
        var updateMsgCount = "@Url.Action("UpdateMsgCount", "Message")",
            loadQuestionForm = "@Url.Action("CreateQuestionForm", "Question")",
            changePortrait = "@Url.Action("ChangePortrait", "Account")",
            updateContent = "@Url.Action("UpdateContent", "Question")",
            loadListUpdate = "@Url.Action("LoadContentUpdate", "Question")",
            loadUserRecords = "@Url.Action("RecentRecord", "User")",
            loadFollowInfo = "@Url.Action("FollowersOrFollowees", "User")",
            deleteAnswerOrComment = "@Url.Action("Delete", "Question")",
            deleteMessage = "@Url.Action("DeleteMessage", "Message")",
            confirmDel = "@Url.Action("CreateDeleteComfirmationModal", "Home")"

        var pageTopOffset = 90;

        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?e5e9c5bc54c97ec3b87347e6b64aa13c";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/base")
    <script src="~/ckeditor/ckeditor.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <div id="wx_pic" style="margin: 0 auto; display: none;">
        <img src="/Images/wx_pic.png" />
    </div>
    <div id="wx_con" style="margin: 0 auto; display: none;">
        <p>UpperCareer - 真实的职场知识、经验、见解分享社区</p>
    </div>
</head>
<body>
    <div id="container">
        <header>
            <div id="divNavBar">
                @Html.Partial("_NavBar")
            </div>
            <div class="modal fade" id="divModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                </div>
            </div>
            <div id="divModalLg" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                </div>
            </div>
            <div id="divModalSm" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                </div>
            </div>
        </header>
        <div id="body">
            <div>
                @RenderSection("frontline", required: false)
            </div>
            <div class="container">
                @RenderSection("featured", required: false)
                <section>
                    @RenderBody()
                </section>
            </div>
        </div>
        <footer id="footer">
            <div class="container">
                <div style="text-align: center">
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.ActionLink("精选", "Index", "Article")
                        &nbsp;&nbsp;
                        @Html.ActionLink("问答", "Index", "Question")
                        &nbsp;&nbsp;
                        @Html.ActionLink("邀请码", "Detail", "Article", new { id = "58352719880741006cfd4ac7" }, null)
                        &nbsp;&nbsp;
                        @Html.ActionLink("社区手册", "Detail", "Article", new { id = "5844e0ab128fe10058ad870e" }, null)
                        &nbsp;&nbsp;
                        @Html.ActionLink("如何提问", "AnswerDetail", "Question", new { id = "5836916561ff4b475bd63462" }, null)
                        &nbsp;&nbsp;
                        @Html.ActionLink("用户协议", "Terms", "Document")
                    </p>
                    <p>
                        &copy; 2017 UpperCareer. 
                    </p>
                </div>
            </div>
        </footer>
    </div>
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
