@model RTCareerAsk.Models.QuestionModel
@{
    bool IsAuthorized = ViewBag.IsAuthorized != null ? Convert.ToBoolean(ViewBag.IsAuthorized) : false;
    bool IsAdmin = ViewBag.IsAdmin != null ? Convert.ToBoolean(ViewBag.IsAdmin) : false;
}
<div class="question-detail">
    <div class="box clearfix">
        <div class="header">
            <div class="title">
                <h4>@Model.Title</h4>
                <p>(@Model.VotePositive) | (@Model.VoteNegative)</p>
            </div>
            @Html.UpperNameTag(Model.Creator)
        </div>
        <div id="@string.Format("divQContent{0}", Model.ID)" class="content">
            @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
        </div>
        <div class="action">
            @*@if (Model.Creator != null && IsAuthorized)
            {
                if (Model.IsEditAllowed)
                {
                <a id="btnEditQuestion" href="#" class="btn btn-warning">编辑问题</a>
                }
                else if (Model.IsAnswerAllowed)
                {
                <a href="#divAnsForm" id="btnWriteAnswer" role="button" data-toggle="collapse" class="btn btn-default" aria-expanded="false" aria-controls="collapseExample">我要回答</a>
                }
                else
                {
                <a href="#divAnsForm" id="btnWriteAnswer" role="button" data-toggle="collapse" style="display: none" class="btn btn-default" aria-expanded="false" aria-controls="collapseExample">我要回答</a>
                }*@
            <ul class="breadcrumb">
                @if (Model.IsEditAllowed)
                {
                    <li><a id="btnEditQuestion" href="#">编辑问题</a></li>
                }
                else if (Model.IsAnswerAllowed)
                {
                    <li><a href="#divAnsForm" id="btnWriteAnswer" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></li>
                }
                else
                {
                    <li><a href="#divAnsForm" id="btnWriteAnswer" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample" class="not-active"><span class="glyphicon glyphicon-sglyphicon-editearch" aria-hidden="true"></span></a></li>
                }
                <li><a href="#" id="@string.Format("btnWrtCmt{0}", Model.ID)">评一下</a></li>
            </ul>
        </div>
    </div>
    <div class="editor">
        @if (IsAuthorized)
        {
            @Html.Partial("_AnswerForm", new RTCareerAsk.Models.AnswerPostModel() { QuestionID = Model.ID, NotifyUserID = Model.Creator.UserID })
        }
    </div>
</div>
