@model RTCareerAsk.Models.QuestionModel
@{
    bool IsAuthorized = ViewBag.IsAuthorized != null ? Convert.ToBoolean(ViewBag.IsAuthorized) : false;
    bool IsAdmin = ViewBag.IsAdmin != null ? Convert.ToBoolean(ViewBag.IsAdmin) : false;
}
<div class="question-detail">
    <div class="box clearfix">
        <div class="header">
            <div class="title">
                <h3>@Model.Title</h3>
            </div>
            @Html.UpperNameTag(Model.Creator)
        </div>
        <div id="@string.Format("divQContent{0}", Model.ID)" class="content">
            @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
        </div>
        <div class="action">
            @*@if (Model.Creator != null && IsAuthorized)
            {
                if (Model.IsEditAllowed)
                {
                <a id="btnEditQuestion" href="#" class="btn btn-warning">编辑问题</a>
                }
                else if (Model.IsAnswerAllowed)
                {
                <a href="#divAnsForm" id="btnWriteAnswer" role="button" data-toggle="collapse" class="btn btn-default" aria-expanded="false" aria-controls="collapseExample">我要回答</a>
                }
                else
                {
                <a href="#divAnsForm" id="btnWriteAnswer" role="button" data-toggle="collapse" style="display: none" class="btn btn-default" aria-expanded="false" aria-controls="collapseExample">我要回答</a>
                }*@
            <ul class="breadcrumb">
                @if (Model.IsEditAllowed)
                {
                    <li>
                        <a id="btnEditQuestion" href="#">编辑问题</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="#divAnsForm" id="btnWriteAnswer" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample" class="@Html.AssignClassWithCondition(!Model.IsAnswerAllowed && IsAuthorized, "not-active") @Html.AssignClassWithCondition(!IsAuthorized, "redirect-login")">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            &nbsp;回答
                        </a>
                    </li>
                }
                <li class="@Html.AssignClassWithCondition(!IsAuthorized, "redirect-login") like @Html.IsActive(true, Model)" data-islike="true" data-id="@Model.ID" data-title="@Model.Title" data-author="@Model.Creator.UserID" data-type="0">
                    <a href="#" id="">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        &nbsp;推荐(<span class="count">@Model.VotePositive</span>)
                    </a>
                </li>
                <li class="@Html.AssignClassWithCondition(!IsAuthorized, "redirect-login") like @Html.IsActive(false, Model)" data-islike="false" data-id="@Model.ID" data-title="@Model.Title" data-author="@Model.Creator.UserID" data-type="0">
                    <a href="#" id="">
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                        &nbsp;太水(<span class="count">@Model.VoteNegative</span>)
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="editor">
        @if (IsAuthorized)
        {
            @Html.Partial("_AnswerForm", new RTCareerAsk.Models.AnswerPostModel() { QuestionID = Model.ID, QuestionTitle = Model.Title, NotifyUserID = Model.Creator.UserID })
        }
    </div>
</div>
