@model RTCareerAsk.Models.QuestionModel
@{
    bool IsAuthorized = ViewBag.IsAuthorized != null ? Convert.ToBoolean(ViewBag.IsAuthorized) : false;
    bool IsAdmin = ViewBag.IsAdmin != null ? Convert.ToBoolean(ViewBag.IsAdmin) : false;
}
<div class="col-lg-12">
    <div class="jumbotron">
        <div>
            <h2>@Model.Title</h2>
        </div>
        <div class="clearfix">
            <div id="@string.Format("divQContent{0}", Model.ID)">
                @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
            </div>
            @if (Model.Creator != null)
            {
                <small><strong><a href="@Url.Action("Index", "User", new { id = Model.Creator.UserID })">@Model.Creator.Name</a></strong>于<cite title="Source Title">@Model.TimeDisplay</cite>提问</small>
                if (IsAuthorized)
                {
                    if (Model.IsEditAllowed)
                    {
                <a id="btnEditQuestion" href="#" class="btn btn-warning float-right">编辑问题</a>
                    }
                    if (Model.IsAnswerAllowed)
                    {
                <a href="#divAnsForm" id="btnWriteAnswer" role="button" data-toggle="collapse" class="btn btn-info float-right" aria-expanded="false" aria-controls="collapseExample">我要回答</a>
                    }
                    else
                    {
                <a href="#divAnsForm" id="btnWriteAnswer" role="button" data-toggle="collapse" style="display: none" class="btn btn-info float-right" aria-expanded="false" aria-controls="collapseExample">我要回答</a>
                    }
                }
            }
        </div>
        @if (IsAuthorized)
        {
            @Html.Partial("_AnswerForm", new RTCareerAsk.Models.AnswerPostModel() { QuestionID = Model.ID, NotifyUserID = Model.Creator.UserID })
        }
    </div>
</div>
