@model List<RTCareerAsk.Models.AnswerInfoModel>

<div class="content-info">
    <ul class="list-group box" data-target="@(Model.Count > 0 ? Model.First().Creator.UserID : string.Empty)" data-type="2">
        @foreach (RTCareerAsk.Models.AnswerInfoModel a in Model)
        {
            <li class="list-group-item">
                @if (!string.IsNullOrEmpty(a.RecommandationID))
                {
                    <div class="banner">
                        <div class="flag"></div>
                        <div class="sign">
                            @Html.ActionLink("推荐", "Detail", "Article", new { id = a.RecommandationID }, null)
                        </div>
                    </div>
                }
                <a href="@Url.Action("AnswerDetail", "Question", new { id = a.ID })" style="color:#70BF40">
                    <h4 class="list-group-item-heading">@a.Title</h4>
                </a>
                <div class="list-group-item-text">@Html.Raw(HttpUtility.HtmlDecode(a.Content))</div>
                <p class="extra">@a.CreateBefore</p>
            </li>
        }
    </ul>
</div>