@model RTCareerAsk.Models.RegisterModel

@using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        @*<legend>加入Upper</legend>*@
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "请输入您的电子邮箱地址" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "请输入您在工作场合的称谓" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "请输入密码" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "请确认密码" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.InviteCode, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.InviteCode, new { @class = "form-control", placeholder = "请输入邀请码" })
                <span class="help-block">@Html.ActionLink("如何获取邀请码？", "Detail", "Article", new { id = "58352719880741006cfd4ac7" }, new { target = "_blank" })</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <input type="submit" class="btn btn-success btn-block" value="同意用户协议并注册" />
                <span class="help-block">@Html.ActionLink("查看用户协议", "Terms", "Document", null, new { target = "_blank" })</span>
            </div>
        </div>
    </fieldset>
}
