@model RTCareerAsk.Models.AnswerModel

<div class="answer">
    <div>
        @Html.Partial("_AnswerDetail", Model)
    </div>
    <div>
        <span class="cmt-count">@Model.Comments.Count</span>
        条评论
    </div>
    <div id="@string.Format("divCmtList{0}", Model.ID)" class="comment-list">
        @Html.Partial("_CommentList", Model.Comments)
    </div>
</div>

<script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "1", "bdMiniList": ["tsina", "weixin", "sqq"], "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "slide": { "type": "slide", "bdImg": "5", "bdPos": "right", "bdTop": "100" } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
@section scripts{
    @Scripts.Render("~/bundles/answer")
}