@model List<RTCareerAsk.Models.AnswerInfoModel>

@{
    RTCareerAsk.Models.TabModel tabSorting = new RTCareerAsk.Models.TabModel();
    tabSorting.TabItems.Add("最热", new RTCareerAsk.Models.ActionLinkParams() { ActionName = "LoadContentInfo", ControllerName = "Question", RouteValues = new { id = 1 } });
    tabSorting.TabItems.Add("最新", new RTCareerAsk.Models.ActionLinkParams() { ActionName = "LoadContentInfo", ControllerName = "Question", RouteValues = new { id = 2 } });
    tabSorting.ActiveItem = "最新";
    tabSorting.AjaxOptns = new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divQuestionList", OnBegin = "OnUpdateSortingBegin", OnComplete = "OnUpdateListComplete" };
    tabSorting.HtmlAttrs.Add("class", "tab-sorting");

    RTCareerAsk.Models.TabModel tabContent = new RTCareerAsk.Models.TabModel();
    tabContent.TabItems.Add("答案", new RTCareerAsk.Models.ActionLinkParams() { ActionName = "LoadContentInfo", ControllerName = "Question", RouteValues = new { id = 2 } });
    tabContent.TabItems.Add("问题", new RTCareerAsk.Models.ActionLinkParams() { ActionName = "LoadContentInfo", ControllerName = "Question", RouteValues = new { id = 0 } });
    tabContent.ActiveItem = "答案";
    tabContent.AjaxOptns = new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divQuestionList", OnBegin = "OnUpdateContentBegin", OnFailure = "OnUpdateContentFailure", OnComplete = "OnUpdateListComplete" };
    tabContent.HtmlAttrs.Add("class", "tab-content");
}

<div style="display: none">
    <a href="#" id="lnkTest">测试Bootstrap tooltip</a>
</div>
<div id="divHoverCardContent" style="display: none">
</div>
<script type="text/javascript">
    function titleSetter(id) {
        $.ajax('/User/LoadUserIntro', {
            method: 'post',
            data: JSON.stringify({ userId: id }),
            contentType: 'application/json',
            dataType: 'html',
            //beforeSend: function () {
            //    func('Loading...');
            //},
            success: function (result) {
                $('#divHoverCardContent').html(result);
                $('#lnkTest').trigger('buildCard');
            },
            error: function () {
                //alert('error happen when loading user info');
            }
        });
    }

    $(document).ready(function () {
        titleSetter('5796c9640a2b580061cf61e2');
        $(document).on('buildCard', '#lnkTest', function () {
            $('#lnkTest').tooltip({
                html: true,
                title: $('#divHoverCardContent').html(),
                delay: { 'hide': 1000 }
            });
        });

        //titleSetter('5796c9640a2b580061cf61e2', function (result) {
        //    //$('#lnkTest').tooltip('destroy');
        //    $('#lnkTest').tooltip({
        //        html: true,
        //        title: result,
        //        delay: { 'hide': 1000 }
        //    });
        //});
        //$('#lnkTest').tooltip({
        //    html: true,
        //    title: '578101cad342d30057c928a5',
        //    delay: { 'hide': 1000 }
        //});
        //$('#lnkTest').tooltip({
        //    html: true,
        //    title: titleSetter('578101cad342d30057c928a5'),
        //    delay: { 'hide': 1000 }
        //});
        //$('#lnkTest').click(function (e) {
        //    e.preventDefault();
        //    $(this).tooltip({
        //        title: '这是一条测试用信息'
        //    });
        //    TriggerTooltip();
        //})
    });
</script>

<div style="max-width: 700px" class="centered clear-fix">
    <div class="content-info-tab">
        @Ajax.UpperTab(tabContent, null)
        @Ajax.UpperTab(tabSorting, null)
    </div>
    <div id="divQuestionList">
        @Html.Partial("_AnswerList", Model)
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/homepage")
}

@section featured{
    <div style="max-width: 700px; margin: 0 auto; background-color: #f7f7f7">
        <div style="padding: 15px">
            @Html.Partial("_QuickPostForm", new RTCareerAsk.Models.QuestionPostModel())
        </div>
    </div>
}